# EXEMPLO COM REVERSE_PROXY COM NODE
#https://HOST {
#    reverse_proxy node:PORTA
#}

# EXEMPLO COM APLICAÇÃO LARAVEL
#https://HOST {
#    root * /var/www/NOME_DA_PASTA/public
#    file_server
#    php_fastcgi php8:9000 {
#        index index.php
#        dial_timeout 6000s
#        read_timeout  6000s
#        write_timeout 6000s
#    }
#    encode gzip
#    tls no-reply@HOST
#}

# EXEMPLO REDIRECIONAR HTTP PARA HTTPS
#http://HOST {
#    redir https://HOST{uri}
#}

# EXEMPLO COM APLICAÇÃO REACT
#https://HOST {
#    root * /var/www/NOME_DA_PASTA/build
#    try_files {path} /index.html
#    file_server
#}
