# EXEMPLO COM REVERSE_PROXY COM NODE
#https://HOST {
#    reverse_proxy node:PORTA
#}

# EXEMPLO COM APLICAÇÃO LARAVEL
#https://HOST {
#    root * /var/www/NOME_DA_PASTA/public
#    file_server
#    php_fastcgi php8:9000 {
#        index index.php
#        dial_timeout 6000s
#        read_timeout  6000s
#        write_timeout 6000s
#    }
#    encode gzip
#    tls no-reply@HOST
#}

# EXEMPLO REDIRECIONAR HTTP PARA HTTPS
#http://HOST {
#    redir https://HOST{uri}
#}

# EXEMPLO COM APLICAÇÃO REACT
#https://HOST {
#    root * /var/www/NOME_DA_PASTA/build
#    try_files {path} /index.html
#    file_server
#}

https://api.meufiscal.com.br {
    reverse_proxy node:8080
}

https://www.meufiscal.com.br {
    redir https://meufiscal.com.br{uri}
}

https://meufiscal.com.br {
    root * /var/www/leal-softwares/apps/meufiscal/client/build
    try_files {path} /index.html
    file_server
}

# https://api.easyseller.com.br {
#     reverse_proxy node:8081
# }

# https://www.easyseller.com.br {
#     redir https://easyseller.com.br{uri}
# }

# https://adm.easyseller.com.br {
#     redir https://easyseller.com.br{uri}
# }

# https://app.easyseller.com.br {
#     redir https://easyseller.com.br{uri}
# }

# https://docs.easyseller.com.br {
#     redir https://easyseller.com.br{uri}
# }

# https://easyseller.com.br {
#     root * /var/www/leal-softwares/apps/easyseller/client/build
#     try_files {path} /index.html
#     file_server
# }

# https://app-hml.easyseller.com.br {
#     root * /var/www/leal-softwares/apps/easyseller-hml/client/build
#     try_files {path} /index.html
#     file_server
# }
