# EXEMPLO COM REVERSE_PROXY COM NODE
#https://HOST {
#    reverse_proxy node:PORTA
#}

# EXEMPLO COM APLICAÇÃO LARAVEL
#https://HOST {
#    root * /var/www/NOME_DA_PASTA/public
#    file_server
#    php_fastcgi php8:9000 {
#        index index.php
#        dial_timeout 6000s
#        read_timeout  6000s
#        write_timeout 6000s
#    }
#    encode gzip
#    tls no-reply@HOST
#}

# EXEMPLO REDIRECIONAR HTTP PARA HTTPS
#http://HOST {
#    redir https://HOST{uri}
#}

# EXEMPLO COM APLICAÇÃO REACT
#https://HOST {
#    root * /var/www/NOME_DA_PASTA/build
#    try_files {path} /index.html
#    file_server
#}

https://api.meufiscal.com.br {
    reverse_proxy node:8081
}

https://meufiscal.com.br {
    root * /var/www/leal-softwares/apps/meu-fiscal/client/dist
    try_files {path} /index.html
    file_server
}

https://www.meufiscal.com.br {
    redir https://meufiscal.com.br{uri}
}

https://api.easyshopcontrol.com.br {
    reverse_proxy node:8082
}

https://www.easyshopcontrol.com.br {
    redir https://easyshopcontrol.com.br{uri}
}

https://easyshopcontrol.com.br {
    root * /var/www/leal-softwares/apps/easy-shop-control/client/dist
    try_files {path} /index.html
    file_server
}

https://api.easyvirtualstore.com.br {
    reverse_proxy node:8083
}

https://easyvirtualstore.com.br {
    root * /var/www/leal-softwares/apps/easy-virtual-store/client/dist
    try_files {path} /index.html
    file_server
}

https://www.easyvirvirtual-storeore.com.br {
    redir https://easyvirtualstore.com.br{uri}
}

https://adm.easyvirvirtual-storeore.com.br {
    redir https://easyvirtualstore.com.br{uri}
}

https://app.easyvirvirtual-storeore.com.br {
    redir https://easyvirtualstore.com.br{uri}
}

# https://docs.easyvirvirtual-storeore.com.br {
#     redir https://easyvirtualstore.com.br{uri}
# }


# https://app-hml.easyvirvirtual-storeore.com.br {
#     root * /var/www/leal-softwares/apps/easyvirtualstovirtual-store/client/dist
#     try_files virtual-store /index.html
#     file_server
# }
